<form id="new-store-form" action="/stores/<%= @store.id %>" method="post" class="form">
	<!-- HINT. Use A hidden input to send a put request method -->
  <input type="hidden" name="_method" value="put"/>

  <label for="store[name]" class="ui label">Name:</label>

  <input type="text" name="store[name]" value="<%= @store.try(:name) %>" class="ui input">

  <input type="submit" name="submit" value="Save Your Store" class="ui button">
</form>


<form id="new-store-form" action="/stores/<%=@store.id %>" method="post" class="form">

	<input type="hidden" name="_method" value="delete">

  <input type="submit" name="submit" value="Delete Your Store" class="ui button">

</form>
