<h1 class="ui header">  Take a look at all these stores! </h1>

<p><a href='/stores'>Create Store</a></p>

<ul class="ui list">

<% @stores.each do |store| %>
	<li class="ui item">
	<a href="/stores/<%= store.id %>"> <%= store.name %> </a></li>
<% end %>

</ul>
