<!-- We've create the form for you.  You just need to set the method and action -->
<form id="new-store-form" action="/stores" method="post" class="form">
  <label for="name" class="ui label">Name:</label>

  <input type="text" name="name" value="<%= @store.try(:name) %>" class="ui input">

  <input type="submit" name="submit" value="Save Your Store" class="ui button">
</form>
