<h1><%= @store.name %></h1>

<!-- Create a link to the edit page to edit this stores name -->
<a href='<%="/stores/#{@store.id}/edit"%>'> Edit store </a>
<h1>Locations:</h1>

<ul>

<!-- Iterate of all you @stores.locations and show their adresss. Then iterate over all your locations and show the products available at that location. -->
<li>
  <% @store.locations.each do |locations| %>
  <%= locations.address %>
  <%end %>
</li>
</ul>
