<h1><%= @store.name %></h1>

<a href="/stores/<%= @store.id %>/edit" >Edit store</a>

<h1>Locations:</h1>

<ul>
<% @store.locations.each do |location| %>
  <li><h2><%= location.address %></h2></li><br>
  <ul>
  <h3>Products:</h3>
  <% location.products.each do |product| %>
  <li><%= product.name %></li>
  <% end %>
  </ul>
  <br>
<% end %>
</ul>

