<h1><%= @store.name %></h1>

<a href="/stores/<%= @store.id %>/edit">Edit Store</a>

<h1>Locations:</h1>

<ul>
<% @store.locations.each do |location| %>
<li><%= location.address %></li>
<% location.products.each do |product| %>
<li><%= product.name %></li>
<% end %><br>
<% end %>
<!-- Iterate of all you @stores.locations and show their


adresss. Then iterate over all your locations and show the products available at that location. -->

</ul>

