<h1><%= @store.name %></h1>

<!-- Create a link to the edit page to edit this stores name -->
<a href="/stores/<%= @store.id %>/edit">Edit Store</a>

<h1>Locations:</h1>

<ul>

<!-- Iterate of all you @stores.locations and show their adresss. Then iterate over all your locations and show the products available at that location. -->

<% @store.locations.each do |location| %>
  <h2><%= location.address %></h2>
    <% location.products.each do |product| %>
      <li><%= product.name %></li>
    <% end %>
<% end %>
</ul>

