<h1><%= @store.name %></h1>
<br>
<a href ="/stores/<%=@store.id %>/edit">Edit store</a>
<br>
<h1>Locations:</h1>

<ul>

<!-- Iterate of all you @stores.locations and show their adresss. Then iterate over all your locations and show the products available at that location. -->

</ul>

