<h1><%= @store.name %></h1>

<a href="<%= "/stores/#{@store.id}" %>">

<h1>Locations:</h1>


<ul>
  <% @store.locations.each do |location| %>
    <li><a href="<%= location.address %>">
      <%= location.products %></a></li>

  <% end %>
</ul>
