<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title>Storey McStoresons List of Stores and Inventory!!! So Amaze yes?</title>
</head>
<body>

  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a href="/" class="item">Home</a>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Storey McStoresons List of Stores and Inventory!!! 
        <h1>So Amaze yes?</h1>
      </h1>
    </div>

  </div>

  <main class="container main">
    <%= yield %>
  </main>
</body>
</html>
